### BeautifulSoup 
* select() 함수 사용
* melon 100 chart 데이터 파싱

In [1]:
import re
import requests
from bs4 import BeautifulSoup

url = 'https://www.melon.com/chart/index.htm'
headers = {
    'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'
}

100
100

#### song_lyric_lists를 DataFrame으로 저장하기

In [7]:
import pandas as pd

#컬럼명을 설정하면서 empty DataFrame 객체생성
song_list_df = pd.DataFrame(columns=['곡명','가수','앨범','발매일','장르','url','좋아요','가사'])
for song_lyric in song_lyric_lists: #[{},{}]
    df_new_row = pd.DataFrame.from_records([song_lyric])
    song_list_df = pd.concat([song_list_df, df_new_row])
    
song_list_df.head(3)

,곡명,가수,앨범,발매일,장르,url,좋아요,가사
0,Supernova,aespa,Armageddon - The 1st Album,2024.05.13,댄스,https://www.melon.com/song/detail.htm?songId=3...,144264,I’m like some kind of SupernovaWatch outLook a...
0,How Sweet,NewJeans,How Sweet,2024.05.24,댄스,https://www.melon.com/song/detail.htm?songId=3...,124033,All I know is now알게 됐어 나 (I know)그동안 맨날Always ...
0,Small girl (feat. 도경수(D.O.)),이영지,16 Fantasy,2024.06.21,랩/힙합,https://www.melon.com/song/detail.htm?songId=3...,121888,If I got a two small cheeksand a bright pink l...

#### song_lyric_lists를 Json 파일로 저장
* json 파일로 저장해야 DataFrame으로 저장하기 용이함

In [8]:
import json

with open('data/songs100.json','w',encoding='utf-8') as file:
    json.dump(song_lyric_lists, file) #[{곡명:퀸카},{}]

### Json File을 DataFrame (표데이터) 객체로 저장하기

### SqlAlchemy와 Pymysql을 사용하여 DataFrame을 RDB의 테이블로 저장하기

In [5]:
!pip show pymysql

Name: PyMySQL
Version: 1.1.1
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License: MIT License
Location: C:\Users\vega2\anaconda3\Lib\site-packages
Requires:
Required-by:

### DataFrame을 Table로 저장하기

### 복사한 DataFrame을 Table로 저장
* 컬럼명을 영문으로 변경
* 인덱스를 1부터 시작하도록 변경하고 DataFrame 객체의 인덱스가 테이블의 PK(primary key)가 되도록 설정
* 컬럼의 데이터 타입을 변경 (발매일을 DATE 타입으로 변경)

In [25]:
# 기존의 DataFrame의 복사본을 만들기 
table_df = song_df.copy()
table_df.head(3)

,곡명,가수,앨범,발매일,장르,url,좋아요,가사
0,Supernova,aespa,Armageddon - The 1st Album,2024.05.13,댄스,https://www.melon.com/song/detail.htm?songId=3...,144264,I’m like some kind of SupernovaWatch outLook a...
1,How Sweet,NewJeans,How Sweet,2024.05.24,댄스,https://www.melon.com/song/detail.htm?songId=3...,124033,All I know is now알게 됐어 나 (I know)그동안 맨날Always ...
2,Small girl (feat. 도경수(D.O.)),이영지,16 Fantasy,2024.06.21,랩/힙합,https://www.melon.com/song/detail.htm?songId=3...,121888,If I got a two small cheeksand a bright pink l...

In [26]:
table_df.columns = ['title','singer','album','release_date','genre','url','likes','lyric']
table_df.head(2)

,title,singer,album,release_date,genre,url,likes,lyric
0,Supernova,aespa,Armageddon - The 1st Album,2024.05.13,댄스,https://www.melon.com/song/detail.htm?songId=3...,144264,I’m like some kind of SupernovaWatch outLook a...
1,How Sweet,NewJeans,How Sweet,2024.05.24,댄스,https://www.melon.com/song/detail.htm?songId=3...,124033,All I know is now알게 됐어 나 (I know)그동안 맨날Always ...

In [27]:
#index 값의 1 부터 시작하도록 설정

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,
        43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,
        57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
        71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,
        99, 100],
      dtype='int32')

In [28]:
table_df.head(2)

,title,singer,album,release_date,genre,url,likes,lyric
1,Supernova,aespa,Armageddon - The 1st Album,2024.05.13,댄스,https://www.melon.com/song/detail.htm?songId=3...,144264,I’m like some kind of SupernovaWatch outLook a...
2,How Sweet,NewJeans,How Sweet,2024.05.24,댄스,https://www.melon.com/song/detail.htm?songId=3...,124033,All I know is now알게 됐어 나 (I know)그동안 맨날Always ...

In [29]:
# url 컬럼 삭제하기

In [30]:
table_df.columns

Index(['title', 'singer', 'album', 'release_date', 'genre', 'likes', 'lyric'], dtype='object')

#### DataFrame 객체 ==> Table 로 변환

In [31]:
import pymysql
import sqlalchemy

#pymysql과 sqlalchemy 연동
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

engine = None
conn = None
try:
    # dialect+driver://username:password@host:port/database
    engine = create_engine('mysql+pymysql://python:python@localhost:3307/python_db?charset=utf8mb4')
    conn = engine.connect()
    
    #['title', 'singer', 'album', 'release_date', 'genre', 'likes', 'lyric']
    #table_df(DataFrame객체)를 songs100 테이블로 저장하기 to_sql() 함수 사용
    table_df.to_sql(name='songs100', con=engine, if_exists='replace', index=True,\
                    index_label='id',
                    dtype={
                        'id':sqlalchemy.types.INTEGER(),
                        'title':sqlalchemy.types.VARCHAR(200),
                        'singer':sqlalchemy.types.VARCHAR(200),
                        'album':sqlalchemy.types.VARCHAR(200),
                        'release_date':sqlalchemy.types.DATE,
                        'genre':sqlalchemy.types.VARCHAR(200),
                        'likes':sqlalchemy.types.BigInteger,
                        'lyric':sqlalchemy.types.VARCHAR(5000)
                    })
finally:
    if conn is not None: 
        conn.close()
    if engine is not None:
        engine.dispose()

#### SQL 쿼리 결과를 DataFrame 객체로 저장하는 함수선언하기

In [32]:
def search_album(keyword):
    pass

In [4]:
#search_album('OST')